In [1]:
import pandas as pd
df = pd.read_csv("returns_google_stock.csv")

In [2]:
df

            Date  Daily stock Return
0     08/19/2014            0.008073
1     08/18/2014            0.015136
2     08/15/2014           -0.002036
3     08/14/2014           -0.000226
4     08/13/2014            0.021413
...          ...                 ...
2512  08/26/2004            0.018019
2513  08/25/2004            0.010775
2514  08/24/2004           -0.041408
2515  08/23/2004            0.010064
2516  08/20/2004            0.079430

[2517 rows x 2 columns]

In [9]:
df.shape

(2517, 2)

In [10]:

df.head(7)

         Date  Daily stock Return
0  08/19/2014            0.008073
1  08/18/2014            0.015136
2  08/15/2014           -0.002036
3  08/14/2014           -0.000226
4  08/13/2014            0.021413
5  08/12/2014           -0.009069
6  08/11/2014           -0.001565

In [11]:
df.tail(5)

            Date  Daily stock Return
2512  08/26/2004            0.018019
2513  08/25/2004            0.010775
2514  08/24/2004           -0.041408
2515  08/23/2004            0.010064
2516  08/20/2004            0.079430

In [13]:
df.columns

Index(['Date', 'Daily stock Return'], dtype='object')

In [16]:
df.Date

0       08/19/2014
1       08/18/2014
2       08/15/2014
3       08/14/2014
4       08/13/2014
           ...
2512    08/26/2004
2513    08/25/2004
2514    08/24/2004
2515    08/23/2004
2516    08/20/2004
Name: Date, Length: 2517, dtype: object

In [17]:
type(df)

pandas.core.frame.DataFrame

In [19]:
df['Daily stock Return'].max

<bound method Series.max of 0       0.008073
1       0.015136
2      -0.002036
3      -0.000226
4       0.021413
          ...
2512    0.018019
2513    0.010775
2514   -0.041408
2515    0.010064
2516    0.079430
Name: Daily stock Return, Length: 2517, dtype: float64>

In [20]:
df.describe()

       Daily stock Return
count         2517.000000
mean             0.001190
std              0.020725
min             -0.116091
25%             -0.008353
50%              0.000528
75%              0.010775
max              0.199915

In [23]:
df['Daily stock Return'].max()

0.19991545156025708